<html>
  <head>
    <title>Teste</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/mustache/mustache.js"></script>

    <script id="messagetmpl" type="x-tmpl-mustache">
      <div class="message">
        <b>{{sender}}</b>
        <div class="message-text">{{&messagetext}}</div>
      </div>
    </script>

    <script id="conversationlist" type="x-tmpl-mustache">
      {{#conversations}}
        <div class="conversation-item" onclick="selectConversation('{{id}}')">
          <b style="margin-left:0.2em;margin-top:40%;" >{{nameConversation}}</b>
          <div id="msgcounter{{id}}" style="float:right;"></div>
        </div>
      {{/conversations}}
    </script>

    <script id="messageshistory" type="x-tmpl-mustache">
      {{#messages}}
        <div class="message">
          <b>{{sender}}</b>
          <div class="message-text">{{&messagetext}}</div>
        </div>
      {{/messages}}
    </script>

    <script id="userstmpl" type="x-tmpl-mustache">
      {{#users}}
        <option value="{{name}}">{{completename}}</option>
      {{/users}}
    </script>

    <style>
      .conversation-item {
        margin-top: 0.5em;
        background-color: lightblue;
        width: 100%;
        padding-top: inherit;
        padding-bottom: inherit;
        padding-left: inherit;
      }

      .message {
        margin-top: 0.5em;
        background-color: aliceblue;
      }
    </style>

    <script>
      var socket;

      var conversationid = 1;
      var conversationSelected = null;
      var conversations;

      var login = "abraao";

      var conversationstmpl;
      var messageshistory;
      var messagetmpl;
      var userstmpl;

      function load() {

        parseTemplates();

        startWebSocket();

        //load users
        loadUsers();
      }

      function loadUsers() {
        $.get( "/users/list", function( data ) {

          var rendered = Mustache.render(userstmpl, data);
          $( "#usersselect" ).html( rendered );
          $( "#username" ).html( rendered );

        });
      }

      function parseTemplates() {
        conversationstmpl = $("#conversationlist").html();
        Mustache.parse(conversationstmpl);

        messageshistory = $("#messageshistory").html();
        Mustache.parse(messageshistory);

        messagetmpl = $("#messagetmpl").html();
        Mustache.parse(messagetmpl);

        userstmpl = $("#userstmpl").html();
        Mustache.parse(userstmpl);

      }

      function startWebSocket() {
          socket = io('http://localhost:3000');

          socket.on('publish', function (data) {
            createMessage(data);
          });

          socket.on('registered', function (data) {

            if(data.status == 'ok') {
              loadConversations();
              $("#username").attr("disabled", true);
            } else {
              alert("falhou ao registrar");
            }

          });

      }

      function filter(filt) {

      }

      function selectConversation(id){

        conversationSelected = null;

        clearMsgCounter(id);

        for(var i = 0; i < conversations.length; i++) {
          if(conversations[i].id == id) {
            conversationSelected = conversations[i];
            break;
          }
        }

        if(conversationSelected)
          loadHistory();
      }

      function loadHistory() {

        $.get( "/messages/list",{id:conversationSelected.id}, function( data ) {

          data.messagetext = function() {
            return processMessageText(this.text);
          };

          var rendered = Mustache.render(messageshistory, data);
          $( "#output" ).prepend( rendered );
        });
      }

      function loadConversations() {
        $.post( "/conversations/list",{username:$("#username").val()}, function( data ) {//todo pass username

          conversations = data.conversations;
          var usrname = $("#username").val();

          data.nameConversation = function () {

            if(this.label && this.label.length > 0) {
              return this.label;
            } else {

              var out = "";

              for(var i = 0; i < this.targets.length; i++) {
                if(this.targets[i].name != usrname) {
                  out += this.targets[i].name + " ";
                }
              }

              return out.trim();
            }
          }

          var rendered = Mustache.render(conversationstmpl, data);
          $( "#conversations" ).html( rendered );
        });
      }

      function addMsgCounter(data) {
        var divcnt = $("#msgcounter"+data.conversation);
        var cnt = divcnt.attr("msgcounter");

        if(cnt)
          cnt++;
        else
          cnt = 1;

        divcnt.attr("msgcounter", cnt);

        divcnt.html(cnt);
      }

      function clearMsgCounter(id) {
        var divcnt = $("#msgcounter"+id);
        divcnt.attr("msgcounter", 0);
        divcnt.html("");
      }

      function createMessage(data) {

        if(!conversationSelected || conversationSelected.id != data.conversation) {
          addMsgCounter(data);
        } else if(conversationSelected) {

          data.messagetext = function() {
            return processMessageText(this.message);
          };

          var rendered = Mustache.render(messagetmpl, data);

          $( "#output" ).append( rendered );

        }
      }

      function processMessageText(message){
        message = message.replace(/#.\w*/g, function fhref(x){
          ref = "<a href='"+x+"' onclick='filter(\""+x.substring(1)+"\")'>"+x+"</a>";
          return ref;
        });

        return message;
      }

      function send() {

        if(!conversationSelected)
          return;

        socket.emit('chat', {
            message: document.getElementById("chatbox").value,
            sender: login,
            conversation: conversationSelected.id,
            targets: conversationSelected.targets
        });
      }

      function register() {

        login = document.getElementById("username").value;

        socket.emit('register', {
            username: login,
            sender: login,
            conversation: conversationid
        });
      }

      function createConversation() {

        var labelname = $("#labelconversation").val();

        $.post( "/conversations/create",
        {
          username:$("#username").val(),
          labelname: ((labelname) && labelname.length > 0? labelname : null),
          targets: [$("#usersselect").val(), $("#username").val()]
        },
        function( data ) {
          loadConversations();
        });
      }
    </script>

  </head>

  <body onload="load();">

    <label for="usersselect">Users</label>
    <select id="usersselect">
    </select>

    <label for="labelconversation">Label</label>
    <input type="text" id="labelconversation" >

    <button onclick="createConversation();">create conversation</button>
    <hr style="width:100%;">
    <br clear="all">


    <label for="username">Username</label>
    <select id="username">
    </select>
    <button onclick="register();">register</button>
    <hr style="width:100%;">
    <br clear="all">


    <div id="conversations" style="height:30%;width:20%;overflow: auto;padding: 0.3em;float:left;background-color: lightcyan;"></div>
    <div id="output" style="height:30%;width:30%;overflow: auto;padding: 1em;"></div>
    <textarea id="chatbox" style="width:50%;height:30%;"></textarea>
    <button onclick="send()">SEND</button>
  </body>
</html>
