<html>
  <head>
    <title>Teste</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/mustache/mustache.js"></script>

    <script id="messagetmpl" type="x-tmpl-mustache">
      <div class="message">
        <b>{{sender}} - ({{date}})</b>
        <div class="message-text">{{&messagetext}}</div>
      </div>
    </script>

    <script id="conversationlist" type="x-tmpl-mustache">
      {{#conversations}}
        <div class="conversation-item" onclick="selectConversation('{{id}}')">
          <b style="margin-left:0.2em;margin-top:40%;" >{{nameConversation}}</b>
          <div id="msgcounter{{id}}" style="float:right;"></div>
        </div>
      {{/conversations}}
    </script>

    <script id="messageshistory" type="x-tmpl-mustache">
      {{#messages}}
        <div class="message">
          <b>{{sender}} - ({{date}})</b>
          <div class="message-text">{{&messagetext}}</div>
        </div>
      {{/messages}}
    </script>

    <script id="userstmpl" type="x-tmpl-mustache">
      {{#users}}
        <option value="{{name}}">{{completename}}</option>
      {{/users}}
    </script>

    <script id="requeststmpl" type="x-tmpl-mustache">
      {{#requests}}
        <div class="message">
          <div class="message-text">
            <b>{{username}}</b>

            <button onclick="acceptRequest('{{username}}')">accept</button>
            <button onclick="rejectRequest('{{username}}')">cancel</button>
          </div>
        </div>
      {{/requests}}
    </script>

    <style>
      .conversation-item {
        margin-top: 0.5em;
        background-color: lightblue;
        width: 100%;
        padding-top: inherit;
        padding-bottom: inherit;
        padding-left: inherit;
      }

      .message {
        margin-top: 0.5em;
        background-color: aliceblue;
      }
    </style>

    <script  src="index.js"></script>

    <script>
      function show(id) {
        document.getElementById("usersgroupsdiv").style.display="none";
        document.getElementById("searchdiv").style.display="none";
        document.getElementById("chatdiv").style.display="none";

        document.getElementById(id).style.display="block";
      }
    </script>

  </head>

  <body onload="load();">

    <button onclick="show('chatdiv');">CHAT</button>
    <button onclick="show('usersgroupsdiv');">USERS GROUPS</button>
    <button onclick="show('searchdiv');">SEARCH</button>

    <hr style="width:100%;">
    <br clear="all">
    <br clear="all">

    <div id="chatdiv">
      <label for="usersselect">Users</label>
      <select id="usersselect">
      </select>

      <label for="labelconversation">Label</label>
      <input type="text" id="labelconversation" >

      <button onclick="createConversation();">create conversation</button>
      <hr style="width:100%;">
      <br clear="all">


      <label for="username">Username</label>
      <select id="username">
      </select>
      <button onclick="register();">register</button>
      <hr style="width:100%;">
      <br clear="all">

      <div id="conversations" style="height:30%;width:20%;overflow: auto;padding: 0.3em;float:left;background-color: lightcyan;"></div>
      <div id="output" style="height:30%;width:30%;overflow: auto;padding: 1em;"></div>
      <textarea id="chatbox" style="width:50%;height:30%;"></textarea>
      <button onclick="send()">SEND</button>
    </div>

    <div id="usersgroupsdiv" style="display:none;">

      <!-- all users to be selected -->
      <label for="usersselectgroups">Users</label>
      <select id="usersselectgroups">
      </select>
      <button onclick="addUserToGroup();">Adicionar Usuario</button>

      <br clear="all">
      <br clear="all">
      <!-- users by group -->
      <div id="groupusers" style="height:30%;width:30%;overflow: auto;padding: 1em;"></div>

    </div>

    <div id="searchdiv" style="display:none;">

      <label for="querytext">Label</label>
      <input type="text" id="querytext" >
      <button onclick="searchMessage();">Search</button>

      <br clear="all">
      <br clear="all">
      <div id="outputsearch" style="height:30%;width:30%;overflow: auto;padding: 1em;"></div>

    </div>

    <div id="requestsdiv" style="display:none;">
      <div id="requestslist" style="height:30%;width:30%;overflow: auto;padding: 1em;">
      </div>
    </div>

  </body>
</html>
